/*

i am ivouwa and this is my subpar css code

*/



html{

    display: flex;
    justify-content: center;
    align-items: center;
    place-items: center;
    padding-top: 0px;
    margin-bottom: 30px;

}


body{

    display: flex;
    height: fit-content;
    width: fit-content;  
    flex-direction: column;
    justify-content: center;

    padding: 20px;
    margin: 40px;

    overflow: auto;
}

div{
    
    padding: 20px;
    
}

.sidediv{
    padding-left: 7px;
    padding-right: 7px;
}

footer{

    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;

}

.selborder{
    padding: 5px;
    margin: 5px;
}

.seleborder{
    padding: 5px;
    margin: 5px;
}

.selcborder{
    padding: 5px;
    margin: 5px;
}

.selgcborder{
    padding: 5px;
    margin: 5px;
}

.selcborder{
    padding: 5px;
    margin: 5px;
}

.selccborder{
    padding: 5px;
    margin: 5px;
}

.border{
    padding: 5px;
    margin: 5px;
}

.eborder{
    padding: 5px;
    margin: 5px;
}

.cborder{
    padding: 5px;
    margin: 5px;
}

.gcborder{
    padding: 5px;
    margin: 5px;
}

.cborder{
    padding: 5px;
    margin: 5px;
}

.ccborder{
    padding:5px;
    margin: 5px;
}




.topbar{

    display: flex;
    place-items: center;
    justify-content: flex-end;
    flex-wrap:wrap-reverse;

    margin-bottom: 50px;
}

.page{
    margin-right: auto;
}

.topdiv{

    padding: 5px;
    margin: 5px;
    padding-top: 0px;

}

.icon{

    width: fit-content;
    height: 90px;
    display: flex;

}

.logo{

    padding: 0px;
    display: flex;
    padding-top: 10px;
    padding-left: 10px;

}

.detail{

    display: flex;
    justify-content: center;
    flex-direction: column;
    place-items: center;
    
}

.title{

    width: fit-content;
    padding-bottom: 10px;
    font-size: 50px;

}

.gctitle{

    width: fit-content;
    padding-bottom: 10px;
    font-size: 50px;

}

.cctitle{

    padding: 10px;
    margin: 10px;
    padding-top: 0px;

}

.ctitle{

    padding: 10px;
    margin: 10px;
    padding-top: 0px;

}

.subtitle{

    padding: 10px;
    margin: 10px;
    padding-top: 0px;

}



.details{
    display: flex;
    flex-direction: column;

}

.newline{
    padding: 5px;
    margin: 5px;
}

.sort{
    display: flex;
    flex-direction: row;
    margin: 0px;
    padding: 5px;
    flex-wrap: wrap;
}


/*
#FF0000
*/
