/*

i am ivouwa and this is my subpar css code

*/



html{

    font-family: Arial;
    font-size: 50px;
    font-weight: 700;
    -webkit-text-stroke: #000000 2px;
    text-align: center;
    color: #ffffff;


    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;


}

/*

commented cause i dont need it yet
head{
}

*/

body{

    border: 2px solid red;
    border-radius: 5px;

    background-color: #00000025;
    display: flex;
    height: fit-content;
    width: fit-content;  
    flex-direction: column;

    padding: 20px;
}

footer{

}


div{
    padding: 20px;
    
}

/*
#FF0000
*/
