
.bg1{

    background-image: url(../backgrounds/background1.png);
    background-size: 250vh;
    background-position: center center;
    background-repeat: no-repeat;
    
}

.bg2{

    background-image: url(../backgrounds/background2.png);
    background-size: 250vh;
    background-position: center center;
    background-repeat: no-repeat;
    
}

.bg3{

    background-image: url(../backgrounds/background3.png);
    background-size: 250vh;
    background-position: center center;
    background-repeat: no-repeat;
    
}

.bg4{

    background-image: url(../backgrounds/background4.png);
    background-size: 250vh;
    background-position: center center;
    background-repeat: no-repeat;
    
}

.bg5{

    background-image: url(../backgrounds/background5.png);
    background-size: 250vh;
    background-position: center center;
    background-repeat: no-repeat;
    
}


.bg6{

    background-image: url(../backgrounds/background6.png);
    background-size: 250vh;
    background-position: center center;
    background-repeat: no-repeat;
    
}

.bg7{

    background-image: url(../backgrounds/background7.png);
    background-size: 250vh;
    background-position: center center;
    background-repeat: no-repeat;
    
}

.bg8{

    background-image: url(../backgrounds/background8.png);
    background-size: 250vh;
    background-position: center center;
    background-repeat: no-repeat;
    
}


.bg9{

    background-image: url(../backgrounds/background9.png);
    background-size: 250vh;
    background-position: center center;
    background-repeat: no-repeat;
    
}

.bg10{

    background-image: url(../backgrounds/background10.png);
    background-size: 250vh;
    background-position: center center;
    background-repeat: no-repeat;
    
}


.bg11{

    background-image: url(../backgrounds/background11.png);
    background-size: 250vh;
    background-position: center center;
    background-repeat: no-repeat;
    
}