html{
    background-color: rgb(0, 0, 0);
}
.bg1{

    background-image: url(../backgrounds/background1.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

.bg2{

    background-image: url(../backgrounds/background2.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

.bg3{

    background-image: url(../backgrounds/background3.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

.bg4{

    background-image: url(../backgrounds/background4.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

.bg5{

    background-image: url(../backgrounds/background5.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}


.bg6{

    background-image: url(../backgrounds/background6.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

.bg7{

    background-image: url(../backgrounds/background7.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

.bg8{

    background-image: url(../backgrounds/background8.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}


.bg9{

    background-image: url(../backgrounds/background9.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

.bg10{

    background-image: url(../backgrounds/background10.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}


.bg11{

    background-image: url(../backgrounds/background11.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}