/*

i am ivouwa and this is my subpar css code

*/



html{

    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
    margin-bottom: 30x;

    

}


body{

    display: flex;
    height: fit-content ;
    width: fit-content;  
    flex-direction: column;
    justify-content: center;

    padding: 20px;
    margin: 40px;

    overflow: auto;
}

div{
    
    padding: 20px;
    
}

footer{

    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;

}

.border{
    padding: 10px;
}

.topbar{

    display: flex;
    place-items: center;
    justify-content: flex-end;

    margin-bottom: 50px;
}

.page{
    margin-right: auto;
}

.topdiv{

    padding: 5px;
    margin: 5px;
    padding-top: 0px;

}

.icon{

    width: fit-content;
    height: 90px;
    display: flex;

}

.logo{

    padding: 0px;
    display: flex;
    padding-top: 10px;
    padding-left: 10px;

}

.detail{

    display: flex;
    justify-content: center;
    flex-direction: column;
    place-items: center;
    
}

.title{

    width: fit-content;
    padding-bottom: 10px;
    font-size: 50px;

}

.subtitle{

    padding: 10px;
    margin: 10px;
    padding-top: 0px;

}


.details{
    display: flex;
    flex-direction: column;

}

.newline{
    padding: 5px;
    margin: 5px;
}


/*
#FF0000
*/
